SUPABASE_URL=https://jpzduznkbreqyjperbff.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwemR1em5rYnJlcXlqcGVyYmZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY5MTgwMTMsImV4cCI6MjA3MjQ5NDAxM30.d-7uyVCozL7q49ywvnRnJ0RrW4ChqYDfN3ifR8hCw_g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpwemR1em5rYnJlcXlqcGVyYmZmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjkxODAxMywiZXhwIjoyMDcyNDk0MDEzfQ.SCNef3Jq0bUmjH863SpRX83qu_7X0Y4-I6p5LKE-Tus
DATABASE_URL=postgresql://postgres:%40dityA_59346734@db.apbkobhfnmcqqzqeeqss.supabase.co:5432/postgres
NODE_ENV=development